.icon4 {
    height: 30px;
    width: 30px;
    float: right;
    background-size: 100%;
    margin-right: 8px;
}

.djzj2 {
    background: url('../../assets/images/icon1.png') no-repeat;
    background-size: 100%;
    margin-left: 30px;
}

.gpsz2 {
    background: url('../../assets/images/icon3.png') no-repeat;
    background-size: 100%;
}

.kyzj2 {
    background: url('../../assets/images/icon2.png') no-repeat;
    background-size: 100%;
}

.kyzj4 {
    background: url('../../assets/images/icon4.png') no-repeat;
    background-size: 100%;
    margin-left: 30px;
}

.chedang-big-div {
    background-color: #ffffff;
    /* padding-top: 10px; */
    box-sizing: border-box;
    border-bottom: 4px solid rgb(246, 246, 246);
}

.chedang-div {
    background: #fff;
    text-align: center;
    display: flex;
    padding: 26px 0;
    margin-left: 30px;
    margin-right: 30px;
}

.chedang-div:first-child {
    border-bottom: solid 1px #efefef;
}

.chedang-div .chedan-line {
    width: 1px;
    height: 32px;
    background-color: #f6f6f6;
    margin-top: 5px;
}

.chedang-div .chedan span {
    display: inline-block;
    margin-left: 20px;
}

.chedang-div div {
    flex: 1;
}

.chedang-div div p {
    color: #5A5B65;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
}

.chedang-div div .name {
    font-size: 15px!important;
    color: #5B5F65;
    float: right;
    margin-right: 0px;
    margin-top: 10px;
}

.chedang-div-active {
    background: #fff;
    text-align: center;
    display: flex;
    margin-left: 44px;
    margin-right: 44px;
    padding: 5px 0px 26px 0px;
}

.chedang-div-active:first-child {
    border-bottom: solid 1px #efefef;
}

.chedang-div-active .chedan-line {
    width: 1px;
    height: 32px;
    background-color: #f6f6f6;
    margin-top: 5px;
}

.chedang-div-active .chedan span {
    display: inline-block;
    margin-left: 20px;
    width: 100%;
}

.chedang-div-active span {
    float: right;
}

.chedang-div-active div {
    flex: 1;
}

.chedang-div-active div p {
    color: #5A5B65;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
}

.chedang-div-active div .name {
    font-size: 15px!important;
    color: #5B5F65;
    margin-top: 6px;
    float: right;
}

.cclb {
    background: #fff;
    margin-bottom: 30px;
}

.cclb table {
    width: 100%;
    text-align: center;
    color: #5A5B65;
    font-size: 12px;
}

.cclb table tr {
    height: 60px;
}

.cclb table tr:first-child {
    height: 40px;
    color: #5B5F65;
}

.cclb table tr:nth-child(2n) {
    background-color: #F9F9F9
}

.buy-sell {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
}

.span {
    float: left;
    margin-top: 14px;
    font-size: .7rem;
    display: block;
    border: solid 1px #F05330;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-left: 2px;
    color: #F05330;
    margin-right: 2px;
}

.blue {
    color: #5473FF !important;
    border: solid 1px #5473FF !important;
}

.progressBox {
    padding-top: 23px;
    background-color: #fff;
    padding-bottom: 40px;
}

#myProgress {
    width: 90vw;
    margin-left: 5vw;
    height: 6px;
    background-color: #5473FF;
    position: relative;
    border-radius: 3px;
}

#data1 {
    height: 6px;
    background-color: #F05330;
    text-align: center;
    color: #000;
    position: absolute;
    left: 0px;
    z-index: 2000;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#data2 {
    height: 6px;
    background-color: #FFB954;
    text-align: center;
    color: #000;
    position: absolute;
    left: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.p1 {
    float: left;
    font-size: 12px;
    width: auto;
    margin-left: 20px;
    margin-top: 8px;
    color: #8E9399;
}

.p1 .s1 {
    color: #F05330;
}

.p2 {
    float: left;
    position: absolute;
    font-size: 12px;
    width: auto;
    margin-left: 20px;
    margin-top: -24px;
    color: #8E9399;
}

.p2 .s2 {
    color: #FFB954
}

.zong {
    float: right;
    margin-right: 5vw;
    font-size: 12px;
    margin-top: 8px;
    color: #8E9399;
}

.zong .s3 {
    color: #5473FF;
}

#yuan {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5473FF;
    position: absolute;
    right: -5px;
    top: -2.5px;
}

/*新增功能*/

.addTBox {
    width: 100%;
    height: 50px;
}

.addTBox .left {
    float: left;
    font-size: 15px;
    line-height: 50px;
    color: #5B5F65;
    margin-left: 15px;
}

.addTBox .right {
    float: right;
}

.addTBox .right * {
    float: right;
}

.addTBox .right span {
    color: #979DA7;
    font-size: 12px;
    line-height: 50px;
    margin-right: 14px;
}

.addTBox .right img {
    width: 12px;
    margin-top: 19px;
    margin-right: 11px;
}

.cclb .boxtitle {
    width: 100%;
    height: 45px;
    overflow: hidden;
    border-bottom: 5px solid #F6F6F6;
    vertical-align: middle;
}

.cclb .boxtitle .b1 {
    float: left;
    width: 13.5px;
    height: 13.5px;
    margin-left: 15px;
    margin-top: 17px;
}

.cclb .boxtitle .b2 {
    float: left;
    line-height: 45px;
    margin-left:21px;
    font-size:14px;
}

.cclb .boxtitle .b3 {
    float: right;
    width: 6px;
    height: 11px;
    margin-top: 18px;
    margin-right: 15px;
}