<div class="chedang-big-div">
  <div class="chedang-div-active">
    <div class="chedan">
      <span>
        <p class="name" style="margin-right:37px;">
          可用资金
        </p>
        <div class="icon4 kyzj2"></div>
      </span>
      <p style="margin-right:37px;">
        {{userInfo.ableScale | round4}}
      </p>
    </div>
    <span class="chedan-line"></span>
    <div class="chedan">
      <span>
        <p class="name" style="margin-right:0px;">
          冻结资金
        </p>
        <div class="icon4 djzj2"></div>
      </span>
      <p style="margin-right:0px;">
        {{freezaFee | round4}}
      </p>
    </div>
  </div>
  <div class="chedang-div-active">
    <div class="chedan">
      <span>
        <p class="name" style="margin-right:37px;">
          &nbsp;&nbsp;总资产
        </p>
        <div class="icon4 gpsz2"></div>
      </span>
      <p style="margin-right:37px;">
        {{userInfo.totalScale | round4}}
      </p>
    </div>
    <span class="chedan-line"></span>
    <div class="chedan">
      <span>
        <p class="name" style="margin-right:0px;">
          持仓权益
        </p>
        <div class="icon4 kyzj4"></div>
      </span>
      <p style="margin-right:0px;">
        {{userInfo.stockScale | round4}}
      </p>
    </div>
  </div>
</div>
<div class="cclb">
  <table cellspacing="0">
    <tr>
      <td>
        名称/代码
      </td>
      <td>
        委托/均价
      </td>
      <td>
        委托/成交量
      </td>
      <td>
        时间/状态
      </td>
    </tr>
    <tr (click)='chedan(a)' *ngFor='let a of list'>
      <td style="text-align: left;padding-left: 24px;position: relative;">
        <!-- <span class="span {{a.appointType == 2?'blue':''}}">{{a.appointType == 1?'买':'卖'}}</span> -->
        <img src="./assets/images/buy.png" *ngIf="a.appointType === 1" class="buy-sell" />
        <img src="./assets/images/sell.png" *ngIf="a.appointType === 2" class="buy-sell" />
        <p style="font-weight:bold;font-size:14px;">
          {{a.stockName}}
        </p>
        <p style="color: #999999; font-size: 10px;">
          {{a.stockCode}}
        </p>
      </td>
      <td>
        <p>
          {{a.appointPrice}}
        </p>
        <p>
          {{a.dealAvrPrice}}
        </p>
      </td>
      <td>
        <p>
          {{a.appointCnt}}
        </p>
        <p>
          {{a.dealCnt}}
        </p>
      </td>
      <td>
        <p>
          {{a.appointTime}}
        </p>
        <p>
          {{a.appointStatusDesc}}
        </p>
      </td>
    </tr>
  </table>
</div>
<div class="submit-alert" *ngIf='submitAlert'>
  <div class="alert-div">
    <p>
      确认撤单
    </p>
    <p>
      名&emsp;&emsp;称：
      <span>{{orderData.stockName}}</span>
    </p>
    <p>
      代&emsp;&emsp;码：
      <span>{{orderData.stockCode}}</span>
    </p>
    <p>
      撤单数量：
      <span>{{orderData.appointCnt - orderData.dealCnt}}</span>
    </p>
    <p>
      委托价格：
      <span>{{orderData.appointPrice}}</span>
    </p>
    <button class="submit-btn" (click)='submitChedan()'>
      撤{{type}}单
    </button>
    <br>
    <button class="cancel-btn" (click)='closeAlert()'>
      取消
    </button>
  </div>
</div>