<div class="navigation" *ngIf="!isJiaoyi">
  <p class="navigation-title">资产</p>
</div>
<div class="progressBox">
  <div id="myProgress">
    <div id="data1">
      <span class="p1">平仓线{{data1}}</span>
    </div>
    <div id="data2">
      <span class="p2">预警线{{data2}}</span>
    </div>
    <div id="yuan"></div>
  </div>
  <span class="zong">总资产{{data3}}</span>
</div>
<div class="chedang-big-div">
  <div [class]='url == "/main/chicang"?"chedang-div-active":"chedang-div"'>
    <div class="chedan">
      <div class="icon4 kyzj2"></div>
      <span>
        <p>
          {{userInfo.ableScale | round4}}
        </p>
        <p class="name">
          可用资金
        </p>
      </span>
    </div>
    <span class="chedan-line"></span>
    <div class="chedan">
      <div class="icon4 djzj2"></div>
      <span>
        <p>
          {{freezaFee | round4}}
        </p>
        <p class="name">
          冻结资金
        </p>
      </span>
    </div>
  </div>
  <div class="chedang-div">
    <div class="chedan">
      <div class="icon4 gpsz2"></div>
      <span>
        <p>
          {{userInfo.totalScale | round4}}
        </p>
        <p class="name">
          总资产
        </p>
      </span>
    </div>
    <span class="chedan-line"></span>
    <div class="chedan">
      <div class="icon4 kyzj4"></div>
      <span>
        <p>
          {{userInfo.stockScale | round4}}
        </p>
        <p class="name">
          持仓权益
        </p>
      </span>
    </div>
  </div>
</div>
<div [class]="overflow(isJiaoyi)">
  <app-cclb></app-cclb>
</div>