.progressBox {
    padding-top: 20px;
    background-color: #fff;
    padding-bottom: 40px;
}

#myProgress {
    width: 90vw;
    margin-left: 5vw;
    height: 5px;
    background-color: #5473FF;
    position: relative;
}

#data1 {
    width: 10%;
    height: 5px;
    background-color: #F05330;
    text-align: center;
    color: #000;
    position: absolute;
    left: 0px;
    z-index: 2000;
}

#data2 {
    width: 30%;
    height: 5px;
    background-color: #FFB954;
    text-align: center;
    color: #000;
    position: absolute;
    left: 0px;
}

#yuan {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5473FF;
    position: absolute;
    right: -5px;
    top: -2.5px;
    z-index:10000;
}

.p1 {
    display: inline-block;
    position: absolute;
    right: -30px;
    top: 12px;
    font-size: 12px;
    width: auto;
    text-align: right;
}

.p2 {
    display: inline-block;
    margin-top: -5px;
    position: absolute;
    right: -30px;
    top: -20px;
    font-size: 12px;
    width: auto;
    text-align: right;
}

.zong {
    float: right;
    margin-right: 5vw;
    font-size: 12px;
    margin-top: 8px;
}